/* Reset de estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  /* Tamanho base de fonte */
}

/* Cabeçalho */
header {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 1rem;
  /* Espaçamento interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Estilo para desktop */
.desktop-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  text-align: right;
}

.contact-info p {
  margin: 0.5rem 1rem;
}

/* Estilo para celular */
.mobile-view {
  display: none;
}

.mobile-buttons {
  display: none;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-buttons.show-buttons {
  transform: translateY(0);
}

.mobile-buttons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-buttons ul li {
  margin-bottom: 1rem;
}

.mobile-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  text-align: left;
  width: 100%;
}

.mobile-buttons button:focus {
  outline: none;
}

/* Mostra o ícone de três barras apenas em dispositivos móveis */
@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .main-nav.show-nav {
    display: block !important;
  }

  .contact-info {
    display: none;
  }

  /* Estilizando o botão de toggle */
  #toggleNav {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  #toggleNav span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: transform 0.4s ease-in-out;
  }

  #toggleNav.show-nav span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #toggleNav.show-nav span:nth-child(2) {
    opacity: 0;
  }

  #toggleNav.show-nav span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mobile-buttons {
    display: flex;
  }

  main {
    margin-top: 4rem; /* Afasta o conteúdo principal do cabeçalho */
  }
}

/* Menu de navegação */
.main-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.main-nav ul li {
  margin: 0 0.5rem;
  /* Espaçamento menor */
}

.main-nav ul li a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

/* Conteúdo Principal */
main {
  max-width: 1200px;
  margin: 4rem auto 1rem;
  /* Margem inferior ajustada */
  padding: 1rem;
  /* Espaçamento interno */
}

section {
  margin-bottom: 2rem;
  text-align: center;
}

section img {
  max-width: 100%;
  height: auto;
}

section h2 {
  margin-bottom: 1rem;
}

.info-item p {
  text-align: center;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Botão do WhatsApp */
#whatsappButton {
  position: fixed;
  bottom: 1rem;
  /* Espaçamento inferior */
  right: 1rem;
  /* Espaçamento à direita */
  z-index: 1000;
  background: none;
  border: none;
}

#whatsappButton img {
  width: 4.375rem;
  /* Tamanho da imagem */
  height: auto;
  display: block;
  border-radius: 50%;
}
