/* Reset de estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  /* Centraliza o conteúdo dentro do body */
  width: 100%;
  /* Garante que o body ocupe toda a largura */
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para desktop */
.desktop-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  text-align: right;
}

.contact-info p {
  margin: 0.5rem 1rem;
}

/* Estilo para celular */
.mobile-view {
  display: none;
}

.mobile-buttons {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-buttons.show-buttons {
  transform: translateY(0);
}

.mobile-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
}

.mobile-buttons button:focus {
  outline: none;
}

/* Mostra o ícone de três barras apenas em dispositivos móveis */
@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .main-nav {
    display: none;
  }

  .contact-info {
    display: none;
  }

  /* Estilizando o botão de toggle */
  #toggleNav {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  #toggleNav span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: transform 0.4s ease-in-out;
  }

  #toggleNav.show-nav span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #toggleNav.show-nav span:nth-child(2) {
    opacity: 0;
  }

  #toggleNav.show-nav span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mobile-buttons {
    display: flex;
  }
}

/* Menu de navegação */
.main-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.main-nav ul li {
  margin: 0 1rem;
}

.main-nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 0.5rem;
  transition: color 0.3s;
}

.main-nav ul li a:hover {
  color: #007BFF;
}

/* Estilo para seções */
main {
  padding: 6rem 1rem 2rem;
  margin-top: 60px;
  /* Adiciona um espaço para o cabeçalho fixo */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

section {
  margin-bottom: 2rem;
}

section img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

section h2 {
  margin-bottom: 1rem;
}

/* Botão do WhatsApp */
#whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

#whatsappButton img {
  width: 50px;
  height: 50px;
}

/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: relative;
  /* Garante que o footer fique no final da página */
  bottom: 0;
}

/* Seção de informações adicionais */
#informacoes-adicionais {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-item {
  flex: 1 1 calc(33% - 2rem);
  background-color: #f9f9f9;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info-item h2 {
  margin-bottom: 1rem;
}

.info-item p {
  margin-bottom: 0.5rem;
}

/* Estilo para imagens */
.info-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* Estilo para a seção de serviços */
#servicos {
  background-color: #f2f2f2;
  padding: 2rem 1rem;
  text-align: center;
  /* Centraliza o texto */
}

/* Ajustes para a lista de serviços */
#servicos ul {
  list-style: none;
  padding: 0;
}

#servicos li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centraliza os itens */
  padding-left: 1.5rem;
  /* Ajuste o padding conforme necessário */
  margin-bottom: 1rem;
  /* Ajuste a margem conforme necessário */
}

#servicos li:before {
  content: '•';
  /* Bolinha para marcar os itens */
  color: #000;
  /* Cor da bolinha */
  font-size: 1.2em;
  /* Tamanho da bolinha */
  margin-right: 0.5rem;
  /* Espaçamento entre bolinha e texto */
}

#servicos h2 {
  margin-bottom: 2rem;
  /* Ajuste o espaçamento do título conforme necessário */
}

/* Responsivo para a seção de informações adicionais */
@media (max-width: 768px) {
  .info-item {
    flex: 1 1 100%;
  }
}

/* Ajuste de posicionamento dos ícones */
.seguro-info .seguro-icon,
.especialista-info .especialista-icon,
.garantia-info .garantia-icon {
  position: absolute;
  top: -0.9375rem;
  /* Ajuste fino para posicionar acima do título */
  left: 50%;
  transform: translateX(-50%);
  width: 2.5rem;
  /* Ajuste do tamanho do ícone conforme necessário */
  height: auto;
  z-index: 1;
}

.seguro-info {
  width: 1rem;
}

/* Ajuste para posicionar dentro da borda do .info-item */
.info-item {
  position: relative;
  /* Para que o ícone absoluto fique dentro deste contexto */
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
}

/* Estilo para os títulos */
.info-item h2 {
  margin-bottom: 1rem;
  position: relative;
  /* Garante que o ícone absoluto se alinhe corretamente */
}

/* Estilo para o formulário */
#formulario {
  max-width: 400px;
  margin: auto;
  background-color: #f2f2f2;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título do formulário */
#formulario h2 {
  margin-bottom: 1rem;
  text-align: center;
}

/* Estilo para os campos de entrada */
#formulario input,
#formulario textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Estilo para o campo de entrada de botão */
#formulario button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
}

/* Estilo para o campo de entrada de botão no hover */
#formulario button:hover {
  background-color: #07c814;
}

/* Ajustes para a área de texto */
#formulario textarea {
  resize: vertical;
  /* Permite redimensionamento vertical */
  min-height: 100px;
  /* Altura mínima */
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  #formulario {
    max-width: 100%;
    margin: 1rem;
  }
}


/* Responsivo para telas menores */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    /* Empilhar os elementos em telas menores */
  }
}
